.gameOver-window{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameOver-container{
    /* height: 400px; */
    padding-top: 15px;
    padding-bottom: 25px;
    height: fit-content;
    width: 450px;
    background-color: #6e6e80;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;flex-direction: column;
}
.gameOverText-container{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreCard-container{
    flex: 2;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.individualScore-container{

    display: flex;
    align-items: center;
    width: 100%;
}
.rank{
    flex: 1;
    text-align: center;
    color: white;
}
.name{
    flex: 1;
    text-align: center;
    color: white;

}
.score{
    flex: 1;
    text-align: center;
    color: white;
}

.homeText-container{
    flex: 1;
   display: flex;
   justify-content: center;
   
}
.home{
    margin-right: 2rem;
    font-size: 22px;
    cursor: pointer;
    color: white;
}

.userImage-container{
    height: 40px;
    border-radius: 50%;
    flex:0.5
}
.userImage{
    height: 100%;
    width: 35px;
    border-radius: 50%;
}